<!DOCTYPE html>
<html>
   <body>
   
      <h3>Write your adds here:</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post">
         <label for = "username">username</label><br>
         <input type = "text" name= "username" placeholder = "username" /><br>
         <label for = "email">email</label><br>
         <input type = "text" name = "email" placeholder = "email" /><br>
         <label for = "password">password</label><br>
         <input type = "text" name = "password" placeholder = "password" /><br>
         <label for = "text">text</label><br>
         <textarea name = "text" placeholder = "text"></textarea><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>